<<!DOCTYPE html>
<html>
  <head th:fragment="headerfiles">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/font-awesome.min.css}"
    />
    <script defer th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script
      src="https://cdn.tiny.cloud/1/3ephg47qvjohz6tmwuqjkbubohgbt1k81yqnu6tmoe4n8zey/tinymce/7/tinymce.min.js"
      referrerpolicy="origin"
    ></script>
    <script src=" https://cdn.jsdelivr.net/npm/chart.js@4.4.7/dist/chart.umd.min.js "></script>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <script src="" async defer></script>
  </body>
</html>
