<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  lang="pl"
>
  <head th:include="~{fragments/head.html :: headerfiles}"> </head>

  <body>
    <div th:replace="~{fragments/navbar.html :: nav_base}"></div>
    <div class="container">
    <form
      th:action="@{'/kampania/email-edytuj/' + ${emailToShow.id}}"
      method="POST"
      th:object="${emailToShow}"
      enctype="multipart/form-data"
    >
    <h1>Wiadomość Email</h1>
    <div class="d-flex flex-wrap justify-content-between main-body" style="gap:20px;">
      <div class="d-flex flex-column card" style="flex:1 1 0">
      <div class="card-body">
      <input type="hidden" value="${loggedUser}" />

      <div class="d-flex flex-column card" style="flex:1 1 0">
        <div class="card-body" id="emailDiv">
        <div class="row justify-content-around">
          <div class="col-sm-3">
            <label for="emailToShow.title">Temat Emaila</label>
          </div>
          <div class="col-sm-9 text-secondary">
            <input type="text" name="emailToShow.title" th:value="${emailToShow.title}" />
          </div>
        </div>
        <hr/>
        <div class="row justify-content-around">
          <div class="col-sm-12">
            <label for="emailToShow.messageBody">Treść Wiadomości</label>
          </div>
          <div class="col-sm-12 text-secondary">
            <textarea name="emailToShow.messageBody" id="body" style="width: 100%;height:450px" th:value="${emailToShow.messageBody}">Email Body 1</textarea>
            <script>
            tinymce.init({
              selector: "#body",
              plugins: "link lists media code emoticons",
              toolbar:
                "alignleft aligncenter alignright alignjustify | formatselect | bullist numlist | outdent indent | link code | emoticons",
              toolbar_mode: "floating",
              paste_as_text:true,
              entity_encoding: "raw"

            });
          </script>
          </div>
        </div>
        <hr/>
        <div class="row justify-content-start">
          <div class="col-sm-12">
            <label for="emailToShow.sendDate">Czas wysłania</label>
          </div>
          <div class="col-sm-4 text-secondary d-flex justify-content-start">
            <div class="d-flex">
            <label for="emailToShow.sendDate">Data:</label>
            <input type="date" name="emailToShow.sendDate" th:value="${emailToShow.sendDate}"/>
            </div>
            <div class="d-flex">
              <label for="emailToShow.sendTime">Czas:</label>
            <input type="time" name="eemailToShow.sendTime" th:value="${emailToShow.sendTime}" />
            </div>
          </div>
        </div>

        </div>
        <hr/>
          <button class="btn btn-primary" type="submit">Edytuj wiadomość</button>
    </div>
    </div>
    </form>
    <div>

  <script>
  const emailAddButton = document.getElementById("addEmailButton");
  const emailForm = document.getElementById("emailDiv");
  let emailId = 1;

  // Inicjalizacja TinyMCE dla pierwszego edytora
  tinymce.init({
    selector: "#body",
    plugins: "link lists media code emoticons",
    toolbar:
      "alignleft aligncenter alignright alignjustify | formatselect | bullist numlist | outdent indent | link code | emoticons",
    toolbar_mode: "floating",
    paste_as_text: true,
    entity_encoding: "raw",
  });

  emailAddButton.addEventListener("click", function (e) {
    e.preventDefault();

    const emailFields = `
      <hr/>
      <div class="row justify-content-around">
        <div class="col-sm-3">
          <label for="emails[${emailId}].title">Temat Emaila</label>
        </div>
        <div class="col-sm-9 text-secondary">
          <input type="text" name="emails[${emailId}].title" value="Email Title ${emailId}" />
        </div>
      </div>
      <hr/>
      <div class="row justify-content-around">
        <div class="col-sm-12">
          <label for="emails[${emailId}].messageBody">Treść Wiadomości</label>
        </div>
        <div class="col-sm-9 text-secondary">
          <textarea name="emails[${emailId}].messageBody" id="body${emailId}"  style="width: 100%;height:450px">Email Body ${emailId}</textarea>
        </div>
      </div>
      <hr/>
      <div class="row justify-content-start">
        <div class="col-sm-12">
          <label for="emails[${emailId}].sendDate">Czas wysłania</label>
        </div>
        <div class="col-sm-4 text-secondary d-flex justify-content-start">
            <div class="d-flex">
            <label for="emails[${emailId}].sendDate">Data:</label>       
          <input type="date" name="emails[${emailId}].sendDate" />
            </div>
            <div class="d-flex">
            <label for="emails[${emailId}].sendTime">Czas:</label>
          <input type="time" name="emails[${emailId}].sendTime" />
            </div>
        </div>
      </div>
      <hr/>
    `;

    // Dodaj nowe pola do formularza
    emailForm.insertAdjacentHTML("beforeend", emailFields);

    // Zainicjalizuj TinyMCE dla nowego textarea
    tinymce.init({
      selector: `#body${emailId}`,
      plugins: "link lists media code emoticons",
      toolbar:
        "alignleft aligncenter alignright alignjustify | formatselect | bullist numlist | outdent indent | link code | emoticons",
      toolbar_mode: "floating",
      paste_as_text: true,
      entity_encoding: "raw",
    });

    emailId++;
  });
</script>
  </body>
</html>
